// Main Content Starts Here 
.filter-content {
    border-top: 1px solid hsl(var(--border));
    padding-top: 40px;
    padding-bottom: 100px;
    @include breakpoint(max-sm) {
        padding-bottom: 60px;
    }
    &__title {
        margin-bottom: 40px;
        letter-spacing: 10px;
        @include breakpoint(max-sm) {
            letter-spacing: 3px;
        }
    }
}
.filter-slider {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .slick-list {
        padding-bottom: 35px !important;
    }
    .slick-dots {
        li {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: hsl(var(--dark) /.3 );
            border: 2px solid hsl(var(--white));
            gap: 6px;
            &.slick-active {
                background-color: hsl(var(--dark) /.7 );
    
            }
        }
    }
}
.content-left {
    li {
        font-size: 18px;
        i {
            padding-right: 20px;
            font-size: 12px;
            margin-top: -10px;
        }
        span {
            padding-right: 5px;
        }
    }
}

// Talk Section Starts Here
.talk-thumb {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.talk-content {
    padding-left: 100px;
    @include breakpoint(max-xl) {
        padding-left: 50px;
    }
    @include breakpoint(max-lg) {
        padding-left: 0px;
    }
    p {
        font-size: 26px;
        @include breakpoint(max-lg) {
            font-size: 22px;
        }
        @include breakpoint(max-sm) {
            font-size: 20px;
        }
    }
}