// Main Content Starts Here
.filter-content {
	border-top: 1px solid hsl(var(--border));
	padding-top: 40px;
	padding-bottom: 100px;
	@include breakpoint(max-sm) {
		padding-bottom: 60px;
	}
	&__title {
		margin-bottom: 40px;
		letter-spacing: 12px;
		text-transform: uppercase;
		@include breakpoint(max-sm) {
			letter-spacing: 3px;
		}
		span {
			font-weight: 700;
		}
	}
}
.filter-slider {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.slick-list {
		padding-bottom: 35px !important;
	}
	.slick-dots {
		li {
			bottom: -35px;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: hsl(var(--dark) / 0.3);
			border: 2px solid hsl(var(--white));
			gap: 6px;
			&.slick-active {
				background-color: hsl(var(--dark) / 0.7);
			}
		}
	}
}
.content-left {
	font-family: var(--heading-font);
	li {
		font-size: 20px;
		i {
			padding-right: 20px;
			font-size: 12px;
			margin-top: -10px;
		}
		span {
			padding-right: 5px;
		}
	}
}

// Talk Section Starts Here
.talk-thumb {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.talk-content {
	padding-left: 100px;
	@include breakpoint(max-xl) {
		padding-left: 50px;
	}
	@include breakpoint(max-lg) {
		padding-left: 0px;
	}
	p {
		font-size: 46px;
		@include breakpoint(max-lg) {
			font-size: 22px;
		}
		@include breakpoint(max-sm) {
			font-size: 20px;
		}
	}
}

// Contact Section Starts Here
.contact-title {
	letter-spacing: 10px;
	color: hsl(var(--dark) / 0.55);
	@include breakpoint(md) {
		letter-spacing: 20px;
	}
}
.contact-form {
	label {
		color: hsl(var(--dark) / 0.65);
	}
	.form--control {
		font-size: 65px;
		@include breakpoint(max-lg) {
			font-size: 30px;
		}
		@include breakpoint(max-md) {
			font-size: 28px;
		}
		&::placeholder {
			font-size: 65px;
			font-weight: 300;
			line-height: 1;
			@include breakpoint(max-lg) {
				font-size: 30px;
			}
			@include breakpoint(max-md) {
				font-size: 28px;
			}
		}
	}
}
.social-media {
	li {
		a {
			font-size: 35px;
			color: hsl(var(--dark) / 0.55);
			&:hover {
				color: hsl(var(--base));
			}
		}
	}
}

.contact-alert {
	position: fixed;
	top: 30px;
	right: 30px;
	z-index: 111;
	font-size: 15px;
	padding: 10px 25px;
}
