.btn,
.cmn--btn {
	padding: 13px 105px;
	font-weight: 400;
	outline: none !important;
	box-shadow: none !important;
	@extend %transition;
	border-radius: 0px;
	z-index: 1;
	font-family: var(--heading-font);
	@include breakpoint(max-sm) {
		padding: 10px 45px;
	}
	&.btn--lg {
		padding: 13px 35px !important;
		font-size: 18px;
		@include breakpoint(max-lg) {
			font-size: 16px;
		}
	}
	&.btn--md {
		padding: 10px 25px !important;
		font-size: 15px;
	}
	&.btn--sm {
		padding: 5px 15px !important;
		font-size: 14px;
	}
	&.btn--xs {
		padding: 0px 10px !important;
		font-size: 13px;
	}
}
.cmn--btn {
	font-size: 28px;
	border: 1px solid hsl(var(--border));
	background-color: transparent;
	@include breakpoint(max-md) {
		font-size: 22px;
	}
	&:hover {
		background-color: hsl(var(--base));
		border-color: hsl(var(--base));
		color: hsl(var(--white));
	}
}

.contact-btn {
	width: 220px;
	height: 220px;
	border-radius: 50%;
	color: hsl(var(--base));
	border: 1px solid hsl(var(--base));
	@extend %flex-center;
	font-size: 18px;
	font-family: var(--heading-font);
	font-weight: 600;
	@include min(1800px) {
		height: 344px;
		width: 344px;
		font-size: 28px;
	}
	@include breakpoint(max-md) {
		width: 150px;
		height: 150px;
		font-size: 16px;
	}
}

.load-more-btn {
	font-weight: 300;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 23px;
	font-family: var(--heading-font);
}

$colors: "primary" hsl(var(--primary)), "secondary" hsl(var(--secondary)), "success" hsl(var(--success)), "danger" hsl(var(--danger)), "warning" hsl(var(--warning)), "info" var(--info), "light" hsl(var(--light)), "dark" hsl(var(--dark)),
	"base" hsl(var(--base));

@each $name, $color in $colors {
	.btn--#{$name} {
		background-color: $color;
		border: 2px solid $color;
		color: hsl(var(--white));
		&:hover {
			color: $color;
		}
	}
}
.btn--light {
	color: hsl(var(--base));
}

@each $name, $color in $colors {
	.btn--outline-#{$name} {
		background-color: transparent;
		border: 2px solid $color;
		color: $color;
		&:hover {
			color: hsl(var(--white));
			border-color: $color;
			background-color: $color;
		}
	}
}
.btn--outline-light {
	color: hsl(var(--body));
	border: 2px solid hsl(var(--border));
}
